body 
{
    background: #DDFCDD;
    color: black;
    font-style: normal;
    font-size: larger;
}
select
{
    background-color: rgb(219, 219, 219);
    font-style: normal;
    font-size: normal;
    color: rgb(60, 100, 65);
}
input[type=submit]
{
    background-color: green;
    color: white;
}
input[type=reset]
{
    background-color: red;
    color: white;
}